:root { 
--blue_A701:#0061ff; 
--bluegray_50:#eaecf0; 
--blue_A700:#0a58ff; 
--bluegray_100:#d6dae2; 
--indigo_A200:#5e69ff; 
--orange_700:#ff7a00; 
--gray_50:#f8f9fa; 
--bluegray_900:#262b35; 
--bluegray_600:#5f6c86; 
--bluegray_300:#9ea8ba; 
--bluegray_200:#bac1ce; 
--pink_600:#e01e5a; 
--white_A700:#ffffff; 
}